* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background: #632fce;
    }
    
    .links ul {
        display: flex;
        list-style: none;
        align-items: center;
    }
    
    .links a {
        color: #ffffff;
        margin-right: 4.5rem;
        display: inline-block;
        transition: 0.3s;
    }
    
    .links a:hover {
        color: #1C1C28;
    }