* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    body {
        background: hsl(0, 0%, 0%);
    }
    
    .links ul {
        display: flex;
        list-style: none;
        align-items: center;
    }
    
    .links a {
        color: #ffffff;
        margin-right: 4.5rem;
        display: inline-block;
        transition: 0.3s;
    }
    
    .links a:hover {
        color: #503dbe;
    }